<div class="chat">
  <p>- You :</p>
  <p><%= @question %></p>
</div>
<br>
<div class="chat">
  <p>- The coach :</p>
  <p><%= @answer %></p>
</div>

<div>
<%= link_to "Ask a new question", ask_path %>
</div>