/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  background: linear-gradient(rgb(230, 230, 255), rgb(31, 31, 49));
  height: 100vh;
  text-align: center;
  margin: auto;
  width: 60%;
  padding: 10px;
}

h1 {
  font-size: 50px;
  color: rgb(107, 112, 112);
  margin: 80px;
}

p {
  font-size: 25px;
  margin: 12px;
}

.container {
  font-family: sans-serif;
}