// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.chat {
  background-color: rgb(228, 228, 228);
  text-align: left;
  border-left: 15px solid rgb(105, 105, 105);
  padding: 0.01em 50px;
  border-radius: 8px;
}